<h1>render</h1>

<table>
  <tr>
    <th>pavadinimas</th>
    <th>turinys</th>
    <th>data</th>
  </tr>
  {{#each data}}
  <tr>
      <td>{{pavadinimas}}</td>
      <td>{{turinys}}</td>
      <td>{{data}}</td>
  </tr>
  {{~/each}}
</table>