<h1>ADD company</h1>
<form action="/add-company" method="POST">
  <p>
    <label>company name</label>
    <input type="text" name="name" value="" />
  </p>
  <p>
    <label>company adress</label>
    <input type="text" name="adress" value="" />
  </p>
  <p><button type="submit">SUBMIT</button></p>
</form>